<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>351065022971-qtgble3bmgrmukam6er9ispfm3iah66i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.351065022971-qtgble3bmgrmukam6er9ispfm3iah66i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>351065022971-8boan4f23kdopiee5inc8gknla44vbav.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDjvKSscs9Ywq-O6OUfLq07dGPIWgrsdM0</string>
	<key>GCM_SENDER_ID</key>
	<string>351065022971</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alfikri.rizky.geetrans</string>
	<key>PROJECT_ID</key>
	<string>geetrans</string>
	<key>STORAGE_BUCKET</key>
	<string>geetrans.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:351065022971:ios:a7e893833078ab53deab5e</string>
	<key>DATABASE_URL</key>
	<string>https://geetrans-default-rtdb.firebaseio.com</string>
</dict>
</plist>